
{% extends "base.html" %}

  {% block page_content %}
      <div style="margin: 20px">
          <h1>My portfolio</h1>
      </div>
    <div style="margin: 50px;">
        <div class="row row-cols-3">
            {% for project in projects %}
              <div class="col-4">
                <div class="card" style="margin: 20px">
                  <img src="{{ project.image.url }}" height="350px" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.description|truncatechars:100 }}</p>
                    <a href="{% url 'webapp:project_detail' project.pk %}" class="btn btn-primary">Learn more..</a>
                  </div>
                </div>
          </div>
            {% endfor %}
        </div>
    </div>

  {% endblock %}

